<!DOCTYPE html>
<html>
{% extends 'formbase.html' %}
{% block body %}
<body>
	<div class="center">
		<h1>Welcome Donator!</h1>
		<p>
			We ensure that your privacy is our topmost concern, we'll keep your information confidential. Thank you for understanding! 
		</p>
		<form method="POST" action="createdonator">
			{% csrf_token %}
			<div class="txt_field">
				<input type="text" id="idDName" name="nameDName" required>
				<label>Name</label>
				<span></span>
			</div>
			<div class="txt_field">
				<input type="tel" id="idDPhone" name="nameDPhone" minlength="11" maxlength="11" required>
				<label>Contact Number</label>
				<span></span>
			</div>
			<div class="txt_field">
				<input type="textarea" id="idDAddress" name="nameDAddress" required>
				<label>Address</label>
				<span></span>
			</div>
			<div class="txt_field">
				<input type="email" id="idDEmail" name="nameDEmail" required>
				<label>Email Address</label>
				<span></span>
			</div>
			<div class="txt_field">
				<input type="submit" name="btnRDone" id="btnRDone" value="Proceed">
			</div>
			<div class="txt_field">
			</div>
			<div class="note">
				After accomplishing this form you'll be redirected to Donation Slip.
			</div>
		</div>
	</form>
	</body>
	{% endblock %}
	</html>

