<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
   	  {% extends 'formbase.html' %}
   </head>
   <body>
      <div class="wrapper">
      	<div class="title">
			Hello Donator!
		</div>
		<div class="description">
            <p>
            	Answering this information slip will allow us to know your personal information. Your privacy is our topmost concern. Thank you for understanding!
            </p>
        </div>
			<form method="POST" action="">
				<div class="field">
					<input type="text" id="idDName" name="nameDName">
					<label>Name</label>
				</div>
				<div class="field">
					<input type="number" id="idDPhone" name="nameDPhone" required>
					<label>Contact Number</label>
				</div>
				<div class="field">
					<input type="text" id="idDAddress" name="nameDAddress">
					<label>Address</label>
				</div>
				<div class="field">
					<input type="email" id="idDEmail" name="nameDEmail">
					<label>Email Address</label>
				</div>
				<div class="field">
					<input type="submit" name="btnDDone" id="btnDDone" value="DONE">
				</div>
			</form>
		</div>		
	</body>
</html>