<!DOCTYPE html>
<html>
<head>
	<title>Donation Slip</title>
</head>
<body>
		<h2>Please fill-up the following questions:</h2>
		<form method="POST" action="">
		<label for="Item">Item Name:</label>
		<input type="text" id="idDIName" name="nameDIName"><br>
		<label for="Quantity">Quantity Number:</label>
		<input type="number" id="idDQNumber" name="nameDQNumber">
		<label for="QuantityD">Quantity Description:</label>
		<input type="text" id="idDQDescription" name="nameDQDescription" placeholder="kg, pcs, etc."><br>
		<label for="QuantityD">Date Donated:</label>
		<input type="date" id="idDDate" name="nameDDate"><br>
		<input type="submit" name="btndDone" id="btndDone" value="DONE">
	</body>
</html>