<!DOCTYPE html>
<html>
<head>
  {% extends 'formbase.html' %}
</head>
{% block body %}
<body>
  <div class="content">
    <h1>Magandang Buhay!</h1>
    <h3>
     WELCOME TO MASIGASIG COMMUNITY PANTRY
     <h3>
      <div>
        <button id="Butones"><span></span>Donate Now</button>
        <script type="text/javascript">
          document.getElementById("Butones").onclick = function () {
            location.href = "static/css/DonatorSlip.html";
          };
        </script>
        <button id="Butoness"><span></span>Receive Now</button>
        <script type="text/javascript">
          document.getElementById("Butoness").onclick = function () {
            location.href = "static/css/ReceiverSlip.html";
          };
        </script>
      </div>
    </form>
  </div>
</body>
{% endblock %}
</html>