<!DOCTYPE html>
<html>
{% extends 'formbase2.html' %}
{% block body %}
<body>
	<div class="wrapper">
		<div class="title">
			Receiving Slip Form
		</div>
		<div class="description">
			<p>
				Enter all your acquired donations.  
			</p>
		</div>
		<form method="POST" onsubmit="msg()" action="createdreceived">
			<div class="field">
				<input type="text" id="idRIName" name="nameRIName" required>
				<label>Item Name</label>
			</div>
			<div class="field">
				<input type="number" id="idRQNumber" name="nameRQNumber" required>
				<label>Quantity Number</label>
			</div>
			<div class="field">
				<input type="text" id="idRQDescription" name="nameRQDescription" required>
				<label>Quantity Description</label>
			</div>
			<div class="field">
				<input type="text" id="idRIStatus" name="nameRIStatus" required>
				<label>Item Status</label>
			</div>
			<div class="field">
				<input type="date" id="idRIDate" name="nameRIDate" required>
				<label>Date Received</label>
			</div>
			<div class="field">
				<input type="submit" name="btnRDone" id="btnRDone" value="Receive">
				<script type="text/javascript">  
					function msg(){  
						alert("God Bless you!");  
					}  
				</script> 
			</div>
			{% csrf_token %}
		</form>
	</div>
	<script>
		document.getElementById("idRIDate").valueAsDate = new Date()
	</script>
</body>
{% endblock %}
</html>